*{
    padding: 0px;
    margin: 0px;
}

div{
    padding: 5px;
    margin: 5px;
}

.menu{
    background-color: rgb(255, 252, 238);
    width: 100%;
}

.logo{
    width:10vw;
    height:10vw;
    margin-left: 2px;
    float: left;
}